*.class

# Package Files #
*.war
*.ear

# Ignore bin directories #
Broderoids/bin/
Broderoids-android/bin/
Broderoids-desktop/bin/

# Ignore log files
Broderoids-desktop/*.log

# Eclipse overhead
.metadata/

# Broids config file
Broderoids-android/config/broids.cfg
Broderoids-desktop/config/broids.cfg

# Ant crap
Broderoids-android/libs/gson-2.2.2.jar
Broderoids-android/libs/gdx.jar
Broderoids-android/gen/R.java.d
Broderoids-android/local.properties
Broderoids-android/proguard-project.txt
